.select {
    cursor: pointer;
    outline: none;
    border: 1px solid #1c182b;
    border-radius: 2px;
    height: 22px;
    background: #F1EEFF;
}

.select:hover {
    border-color: #7E6FB8;
    box-shadow: 0px 1px 3px 0px #7e6fb8;
}

.select:active {
    box-shadow: 1px 2px 2px 0px #7e6fb8;
}

.select {
    font-size: 15px;
    width: 123px;
    margin-right: 5px;
}


.fantazyor {
    font-family: fantazyor;
    font-weight: 800;
}

.piroucyrillic {
    font-family: piroucyrillic;
}

.phenomena {
    font-family: phenomena;
}

.sunday {
    font-family: sunday;
}

.kurale {
    font-family: kurale;
}

.sensei {
    font-family: sensei;
}

.borsok {
    font-family: borsok;
}

.summer {
    font-size: 18px;
    font-weight: 800;
    font-family: summer;
}

.underdog {
    font-family: underdog;
}

.montserrat {
    font-family: montserrat;
}

.openSans {
    font-family: openSans;
}

.comfortaa {
    font-family: comfortaa;
}

.rubik {
    font-family: rubik;
}

.marta {
    font-family: marta;
}