.toolbar
{
    border-right: 1px solid #7E6FB8;
    height: 100%;
    /* width: 15%; */
    width: 155px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 5px;
}

.toolbar__row
{
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.toolbar__fontFamily,
.toolbar__fontSize
{
    cursor: pointer;
    outline: none;
    border: 1px solid #1c182b;
    border-radius: 2px;
    height: 22px;
    background: #F1EEFF;
}

.toolbar__fontFamily:hover,
.toolbar__fontSize:hover
{
     border-color: #7E6FB8;
     box-shadow: 0px 1px 3px 0px #7e6fb8;
}

.toolbar__fontFamily:active,
.toolbar__fontSize:active 
{
    box-shadow: 1px 2px 2px 0px #7e6fb8;
}

.toolbar__fontFamily
{
    font-size: 15px;
    width: 123px;
    margin-right: 5px;
}

.toolbar__fontSize
{
    font: 400 14px "Roboto Slab";
    color: #1c182b;
}

.toolbar__label
{
    text-align: center;
    font: 400 12px "Roboto Slab";
    color: #1c182b;
}

.colorPickerBox
{
    width: 22px;
    height: 22px;
}

.button
{
    cursor: pointer;
    outline: none;
    border: 1px solid #1c182b;
    border-radius: 2px;
    width: 22px;
    height: 22px;
    background: #F1EEFF;
}


.button:hover {
    color: #7E6FB8;
    border-color: #7E6FB8;
    box-shadow: 0px 1px 3px 0px #7e6fb8;
}

.button:active {
    box-shadow: 1px 2px 2px 0px #7e6fb8;
}

.toolbar__fontFamily option
{
    height: 30px;
    vertical-align: middle;
}

.fantazyor
{
    font-family: fantazyor;
    font-weight: 800;
}

.piroucyrillic
{
    font-family: piroucyrillic;
}

.phenomena
{
    font-family: phenomena;
}

.sunday
{
    font-family: sunday;
}

.kurale
{
    font-family: kurale;
}

.sensei
{
    font-family: sensei;
}

.borsok
{
    font-family: borsok;
}

.summer
{
    font-size: 18px;
    font-weight: 800;
    font-family: summer;
}

.underdog
{
    font-family: underdog;
}

.montserrat
{
    font-family: montserrat;
}

.openSans
{
    font-family: openSans;
}

.comfortaa
{
    font-family: comfortaa;
}

.rubik
{
    font-family: rubik;
}

.marta
{
    font-family: marta;
}