.button {
    font: 400 14px "Roboto Slab";
    color: #1c182b;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    user-select: none;
    text-decoration: none;
}

.button:hover {
    color: #E0E1F4;
    background: #AEA3D7;
    text-shadow: #7E6FB8 0 0 3px;
}

.button:active {
    background: #a79cd1;
}

.button__text {
    padding-left: 5px;
}

.button>span,
.button>svg {
    pointer-events: none;
}