.block
{
    position: absolute;
    z-index: -1;
    cursor: pointer;
    border: 1px solid #f5f5f500;
}

.img
{
    width: 100%;
}

:root { --size-point: 10px; }

.selected
{
  border: 1px dashed #858585;
  cursor: move;
}


.selected .pointBottomRight,
.selected .pointTopLeft,
.selected .pointTopRight,
.selected .pointBottomLeft
{
    position: absolute;
    width: var(--size-point);
    height: var(--size-point);
    background: #555555;
    border-radius: var(--size-point);
    border: 2px solid #858585;
}

.selected .pointBottomRight
{
    margin-top: calc(-1px - var(--size-point));
    margin-right: calc(4px - var(--size-point));
    right: 0;
    cursor: nw-resize;
}

.selected .pointTopLeft
{
    margin-top: calc(4px - var(--size-point));
    margin-left: calc(4px - var(--size-point));
    cursor: nw-resize;
}

.selected .pointTopRight
{
    margin-top: calc(4px - var(--size-point));
    margin-right: calc(4px - var(--size-point));
    right: 0;
    cursor: ne-resize;
}

.selected .pointBottomLeft
{
    margin-top: calc(0px - var(--size-point));
    margin-left: calc(4px - var(--size-point));
    cursor: ne-resize;
}