.navbar {
    display: flex;
}

.input {
    outline: none;
    border: 1px solid #1c182b;
    border-radius: 2px;
    height: 17px;
    width: 50px;
    padding: 3px 5px;
    margin: 2px;
    background: #F1EEFF;
    font: 400 14px robotoSlab;
    color: #1c182b;
}