.dropbtn {
    background: none;
    font: 400 14px "Roboto Slab";
    color: #1c182b;
    border: none;
    cursor: pointer;
    padding: 7px 8px;
}

.dropbtn:hover,
.dropbtn:focus {
    color: #E0E1F4;
    background: #AEA3D7;
    text-shadow: #7E6FB8 0 0 3px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    padding: 5px;
    overflow: auto;
    z-index: 1;
}

.dropdown:hover .dropdown_content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: #E0E1F4;
    background: #AEA3D7;
    text-shadow: #7E6FB8 0 0 3px;
}

.dropdown_text {
    padding-left: 5px;
}