.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.25);
  animation-name: appear;
  animation-duration: 300ms;
}

.modalDialog {
  width: 100%;
  max-width: 800px;
  background: white;
  position: relative;
  margin: 0 20px;
  max-height: calc(100vh - 40px);
  text-align: left;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: slide-in;
  animation-duration: 0.5s;
}

.modalHeader,
.modalFooter {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.modalHeader {
  border-bottom: 1px solid #dbdbdb;
  justify-content: space-between;
}

.modalFooter {
  border-top: 1px solid #dbdbdb;
  justify-content: flex-end;
}

.modalClose {
  cursor: pointer;
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
}

.modalBody {
  overflow: auto;
  height: 100vh;
}

.modalContent {
  padding: 1rem;
  display: flex;
}

.modalTitle {
  margin: 0;
}

.modalHeader {
  font: 400 14px robotoSlab;
  color: #1c182b;
}

.modalContent>div>img {
  margin: 5px;
  flex: 0 1 100%;
  width: 365px;
}

.modalFooter>button {
  font: 400 14px robotoSlab;
  color: #1c182b;
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.searchBox {
  display: flex;
}

.navBox {
  display: flex;
  width: 170px;
  justify-content: space-between;
}

.searchBox>input {
  width: 200px;
  height: 30px;
  padding: 0 5px;
  border-radius: 3px 0 0 3px;
  border: 1px solid #c9c7c7;
  outline: none;
  font: 400 14px robotoSlab;
  color: #1c182b;
}

.searchBox>button,
.navBox>button {
  border: 1px solid #c9c7c7;
  outline: none;
  font: 400 14px robotoSlab;
  color: #1c182b;
  cursor: pointer;
  background-color: #efefef;
}

.searchBox>button {
  width: 80px;
  height: 32px;
  border-radius: 0 3px 3px 0;
}

.navBox>button {
  width: 80px;
  height: 32px;
  border-radius: 3px;
}

.searchBox>button:hover,
.navBox>button:hover {
  background-color: #e2e2e2;
}

.information {
  margin: 20px auto;
  font: 400 16px robotoSlab;
  color: #6a696e;
}