.header
{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    background: #D6CFF4;
    box-shadow: 0px -5px 25px 0px #7e6fb8;
}

.panel
{
    width: 1024px;
}