.toolbar {
    border-right: 1px solid #6D85B6;
    height: 100%;
    width: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 0 5px;
}

.toolbar__label {
    text-align: center;
    font: 400 12px robotoSlab;
    color: #1c182b;
}

.input_color {
    width: 100%;
    height: 29px;
    cursor: pointer;
}

.input_range {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: #F1EEFF;
    border: 1px solid #1c182b;
    border-radius: 3px;
    margin: 15px 0px 5px 0px;
    cursor: pointer;
}

.input_range::-webkit-slider-thumb {
    appearance: none;
    width: 11px;
    height: 11px;
    border-radius: 2px;
    background: #7E6FB8;
    border: 1px solid #1c182b;
}

.colorPickerBox {
    width: 84px;
    height: 29px;
}