.canvas {
    border: 1px solid #6D85B6;
    position: relative;
    z-index: 0;
    background-repeat: no-repeat !important;
    /* background-position: left top !important; */
    /* background-size: cover !important; */
    /* background-size: 100% 100% !important; */
    cursor: crosshair;
    margin: 0 auto;
}