.navbar
{
    display: flex;
}

.navbar__button
{
    font: 400 14px "Roboto Slab";
    color: #1c182b;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.navbar__button:hover
{
    color: #E0E1F4;
    background: #AEA3D7;
    text-shadow: #7E6FB8 0 0 3px;
}

.navbar__button:active
{
    background: #a79cd1;
}

.navbar__button_text
{
    padding-left: 5px;
}

.input
{
    outline: none;
    border: 1px solid #1c182b;
    border-radius: 2px;
    height: 17px;
    width: 50px;
    padding: 3px 5px;
    margin: 2px;
    background: #F1EEFF;
    font: 400 14px "Roboto Slab";
    color: #1c182b;
}