.toolbar
{
    border-right: 1px solid #6D85B6;
    height: 100%;
    width: 12.5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 5px;
}

.toolbar__button
{
    font: 400 14px "Roboto Slab";
    color: #1c182b;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: left;
    padding: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toolbar__button:hover
{
    color: #E0E1F4;
    background: #AEA3D7;
    text-shadow: #7E6FB8 0 0 3px;
}

.toolbar__button:active
{
    background: #a79cd1;
}

.toolbar__label
{
    text-align: center;
    font: 400 12px "Roboto Slab";
    color: #1c182b;
}


.toolbar__button_text
{
    padding-left: 5px;
}

.toolbar__col
{
    display: flex;
    align-items: center;
}
.toolbar__row
{
    display: flex;
}

.input__color
{
    width: 100%;
    height: 29px;
    cursor: pointer;
}

.button_container
{
    margin-right: 5px;
}