@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
	font-family: 'fantazyor';
	src: url("./fonts/fantazyor.ttf");
}

@font-face {
	font-family: 'piroucyrillic';
	src: url("./fonts/piroucyrillic.ttf");
}

@font-face {
	font-family: 'phenomena';
	src: url("./fonts/phenomena.ttf");
}

@font-face {
	font-family: 'sunday';
	src: url("./fonts/sunday.ttf");
}

@font-face {
	font-family: 'kurale';
	src: url("./fonts/kurale.ttf");
}

@font-face {
	font-family: 'sensei';
	src: url("./fonts/sensei.ttf");
}

@font-face {
	font-family: 'borsok';
	src: url("./fonts/borsok.ttf");
}

@font-face {
	font-family: 'summer';
	src: url("./fonts/summer.otf");
}

@font-face {
	font-family: 'underdog';
	src: url("./fonts/underdog.otf");
}

@font-face {
	font-family: 'montserrat';
	src: url("./fonts/montserrat.ttf");
}

@font-face {
	font-family: 'openSans';
	src: url("./fonts/openSans.ttf");
}

@font-face {
	font-family: 'comfortaa';
	src: url("./fonts/comfortaa.ttf");
}

@font-face {
	font-family: 'rubik';
	src: url("./fonts/rubik.ttf");
}

@font-face {
	font-family: 'marta';
	src: url("./fonts/marta.otf");
}

* {
	margin: 0;
	padding: 0;
	user-select: none;
}

body {
	background: #E4E0F4;
}

/* #canvas > *:active ~  * {
    pointer-events: none;
}

#canvas > *:active ~ div {
    pointer-events: none;
} */