.toolbar {
    border-right: 1px solid #6D85B6;
    height: 100%;
    width: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 0 5px;
}

.toolbar__label {
    text-align: center;
    font: 400 12px robotoSlab;
    color: #1c182b;
}